*{
    margin: 5px;
    padding: 10px;
    box-sizing:content-box;
    background-color: #d6d685;
}
#msg{
    display:flex;
    gap: 5px;
    justify-content:center;
    align-items: center;
    color:white;
    font-size: 34px;
    background-color: #38287d;
}
.msg-container{
    display:grid;
    mask-size: 44px;

}
main{
    display:grid ;
    justify-content: center;
    align-items: center;
    height:10vh;
}
h1{
    background-color: #397742;
    color:rgb(101, 42, 42);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 5vmin;
    background-color: #3b3131;
    border-radius: 9px;
    margin: 10px;
    padding: 35px;
    height: 40vmin;
    flex-wrap: wrap;
}
.box{
    height: 5vh;
    width: 5vh;
    background-color:rgb(0, 0, 0);
    display:inline;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size:4vmin;
    cursor: pointer;
    color:rgb(208, 43, 43);
}
#resetButton{
    background-color: #416446;
    color:rgb(50, 20, 224);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 24px;
}
.hide{
    display: none;
}